/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #007bff;
  }

  col-span-3 {
    grid-column: span 3 / span 3;
  }